# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/custom-button/custom-button.styles.css
src/components/custom-button/custom-button.styles.css.map
src/components/directory/directory.styles.css
src/components/directory/directory.styles.css.map
src/components/form-input/form-input.styles.css
src/components/form-input/form-input.styles.css.map
src/components/header/header.styles.css
src/components/header/header.styles.css.map
src/components/menu-item/menu-item.styles.css
src/components/menu-item/menu-item.styles.css.map
src/components/preview-collection/preview-collection.css
src/components/preview-collection/preview-collection.css.map
src/components/sign-in/sign-in.styles.css
src/components/sign-in/sign-in.styles.css.map
src/pages/homepage/homepage.styles.css
src/pages/homepage/homepage.styles.css.map
src/pages/sign-in-and-sign-up/sign-in-and-sign-up.styles.css
src/pages/sign-in-and-sign-up/sign-in-and-sign-up.styles.css.map
